.textinput {
    float: left;
    width: 100%;
    min-height: 75px;
    font-family: times new roman;
	font-size: 20pt;
    outline: none;
    resize: none;
    box-sizing: border-box;
    overflow: auto hidden;
}
.jumbotron {

  background-color: gray;
  color: white;
  margin-top: 50px;
  margin-bottom: 30px; 
}
footer{
    padding: 10px 10px 0 10px;
    background-color:black;
    color: white;

    margin-bottom: 0px;
    margin-top:90px ;
}